<!DOCTYPE html>
<html>
<head>
<title>EcoTrack</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>🌱 EcoTrack Dashboard</h1>

<input type="number" id="car" placeholder="Car km">
<input type="number" id="meat" placeholder="Meat meals">
<input type="number" id="energy" placeholder="Energy kWh">

<button onclick="sendData()">Calculate</button>
<h3>Your Progress</h3>
<canvas id="chart" width="300" height="200"></canvas>
<h2 id="result"></h2>

<script src="/static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/script.js"></script>

</body>
</html>